<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Etape 1 - Importation des données dans GridFs
        </mat-panel-title>
        <mat-panel-description>
         
        </mat-panel-description>
      </mat-expansion-panel-header>
     
        <form>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Number of files to import" value="100" name="nbFile" [(ngModel)]="nbFile" required>
          </mat-form-field>
          <section class="example-section">
          <label class="example-margin">Taille des fichiers : </label>
          <section class="example-section">
            <mat-checkbox class="example-margin"  name="little" [(ngModel)]="little" [checked]="little">Petit (72~616 ko)</mat-checkbox>
            <mat-checkbox class="example-margin"  name="medium" [(ngModel)]="medium" [checked]="medium">Moyen (3Mo~10Mo)</mat-checkbox>
            <mat-checkbox class="example-margin"  name="big" [(ngModel)]="big" [checked]="big">Gros (15Mo~32Mo)</mat-checkbox>
          </section>
        </section>
        </form>
        <button class="btn btn-primary" (click)="import()"><i class="fa fa-file-pdf-o"></i> Import</button>
     
      <mat-list *ngIf="resum !== undefined">
        <mat-list-item> <b>Nombre de document migrés </b>: {{resum.numberOfDocument}} </mat-list-item>
        <mat-list-item> <b>Espace disque migré </b>: {{resum.sizeOfDocument}} Mb</mat-list-item>
        <mat-list-item> <b>Temps total </b>:  {{resum.time}} sec</mat-list-item>
      </mat-list>
      <div *ngIf="resum !== undefined" class="example-textarea">
          <span>Résumé :</span>
              <textarea
              cols="155" rows="20">{{resum.report}}</textarea>
          <!--<b>Résumé par tenant</b> : <textarea matInput type="text" cols="150" rows="9">{{resum.report}}</textarea>-->
      </div>
     
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            Etape 2 - Recherche - Exemple de Recherche à partir des métadonnées 
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Search email id" value="emailId"  #emailId>
          <mat-list *ngIf="documentInfo !== undefined">
            <mat-list-item> <b>Nom </b>: {{documentInfo.name}} </mat-list-item>
            <mat-list-item> <b>Nom du Tenant</b>: {{documentInfo.tenantUuid}} </mat-list-item>
            <mat-list-item><b>Taille </b>:  {{documentInfo.size}} Ko</mat-list-item>
          </mat-list>
        </mat-form-field>
        <button class="btn btn-primary" (click)="infoFile(emailId.value)"><i class="fa fa-file-pdf-o"></i> Info fichier</button>
        <button class="btn btn-primary" (click)="downloadFile(emailId.value)"><i class="fa fa-file-pdf-o"></i> Download</button>
      <!--<button mat-raised-button (click)="openBottomSheet()">Open file</button>-->
        <!--<mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>-->
    </mat-expansion-panel>
  </mat-accordion>


  
</div>



