<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search email id" value="emailId">
    </mat-form-field>
    <button mat-raised-button (click)="openBottomSheet()">Open file</button>
    <!--<mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>-->
  </form>
</div>



